@import "../../global-styles/constats.scss";

// ------notification---------
.notification {
  position: absolute;
  border-radius: 5px;
  bottom: 40px;
  left: 15px;
  padding: 15px 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 99999999;

  animation-duration: 0.5s, 0.5s;
  animation-name: ascentToRight, ascentToLeft;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  &__error {
    background-color: rgb(221, 49, 49);
    .notification__img {
      background-image: url(../../../static/img/error.svg);
    }
  }

  &__suc {
    background-color: $btnColor;
    .notification__img {
      background-image: url(../../../static/img/suc.svg);
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}

@keyframes ascentToLeft {
  from {
    left: 15px;
  }

  to {
    left: -3000px;
  }
}

@keyframes ascentToRight {
  from {
    left: -3000px;
  }

  to {
    left: 15px;
  }
}

// ------end notification--------
