@import "../../global-styles/constats.scss";

.menu-hover {
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  // .menu-hover__item

  &__item {
    padding: 10px 0px;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.85;
    }
  }

  // .menu-hover__img

  &__img {
    margin-right: 12px;
  }

  // .menu-hover__text

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $colorTextDefault;
    background-color: white;
    border: none;
    padding: 0px;
  }
}
