<div class="{{className}} {{className}}_hidden menu-hover">
    <div class="menu-hover__inner">
        {{#each this}}
            {{#if this.textItem}}
                {{> menuHoverItem/menuHoverItem}}
            {{/if}}
        {{/each}}
    </div>
</div>