@import "reset.css";
@import "constats.scss";

div {
  font-family: $Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  padding: 0px;
  border: none;
}
// ------login global------

.reg-wrapper {
  max-width: 340px;
  margin: 0 auto;
  margin-top: 52px;
}
.title-login {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $colorTextDefault;
  margin-bottom: 40px;
}

// ------end login global-------

// -----------errors------------

// -----------end errors------------
