@import "reset.css";
@import "constats.scss";

div {
  font-family: $Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  padding: 0px;
  border: none;
}
// ------login global------

.reg-wrapper {
  max-width: 340px;
  margin: 0 auto;
  margin-top: 52px;
}

// ------end login global-------

// -----------errors------------
.validation-error {
  position: absolute;
  font-size: 10px;
  color: $validationErrorColor;
  bottom: 0px;
  left: 1px;
  white-space: nowrap;
}
.input-validation-error {
  border-color: $validationErrorColor !important;
}
// -----------end errors------------
