@import "reset.css";
@import "constats.scss";

div {
  font-family: $Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  padding: 0px;
  border: none;
}
// ------login global------

.reg-wrapper {
  max-width: 340px;
  margin: 0 auto;
  margin-top: 52px;
}
.title-login {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $colorTextDefault;
  margin-bottom: 40px;
}

// ------end login global-------

// ------notification---------
.notification {
  position: absolute;
  border-radius: 5px;
  bottom: 40px;
  left: 15px;
  padding: 15px 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 99999999;

  animation-duration: 0.5s;
  animation-name: ascentToLeft;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  &__error {
    background-color: rgb(221, 49, 49);
    .notification__img {
      background-image: url(../../static/img/error.svg);
    }
  }

  &__suc {
    background-color: $btnColor;
    .notification__img {
      background-image: url(../../static/img/suc.svg);
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}

@keyframes ascentToLeft {
  from {
    left: 15px;
  }

  to {
    left: -3000px;
  }
}

// ------end notification--------
