@import "../../global-styles/constats.scss";

.chat-wrapper {
  width: 100%;
  height: 100vh;
  padding: 0px 10px;
  box-sizing: border-box;
}
.chat {
  // .chat__inner
  width: 100%;
  &__inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.chat-main {
  flex: 0 1 80%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  // .chat-main__title
}
.form-msg {
  // .form-msg__menu-hover

  &__menu-hover {
    bottom: 60px;
  }
  &__menu-hover_hidden {
    visibility: hidden;
  }
}
.chat-title {
  &__menu-hover {
    top: 50px;
    right: 50px;
    z-index: 100;
  }
  &__menu-hover_hidden {
    visibility: hidden;
  }
  &__utils-btn {
    width: 100%;
    height: 100%;
  }
}
.menu-hover {
  position: absolute;

  // .menu-hover__inner

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background-color: $colorWhite;
    border-radius: 20px;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  }
  &__label {
    display: flex;
    align-items: center;
  }
  label {
    cursor: pointer;
  }

  // .menu-hover__item

  &__item {
    padding: 10px 0px;

    transition: opacity 0.1s;
    &:hover {
      opacity: 0.85;
    }
  }

  // .menu-hover__img

  &__img {
    margin-right: 12px;
    cursor: pointer;
    width: 22px;
    height: 22px;
  }

  // .menu-hover__text

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $colorTextDefault;
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
  }
}

// -----------заглушка------------
.chat__stub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-text {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $colorSubText;
  }
}
// -----------конец заглушка------------
