@import "../../global-styles/constats.scss";
.chat-title {
  // .chat-title__profile
  height: 54px;
  max-height: 54px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorBorderAfteruser;

  &__profile {
    display: flex;
    align-items: center;
  }

  // .chat-title__avatar-block

  &__avatar-block {
    width: 34px;
    height: 34px;
  }

  // .chat-title__avatar

  &__avatar {
    width: 100%;
    height: 100%;
  }

  // .chat-title__name

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $colorTextDefault;
    margin-left: 10px;
  }

  // .chat-title__utils

  &__utils {
    width: 25px;
    height: 25px;
    background-color: $colorSubBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
  }
}
