@import "../../global-styles/constats.scss";

.profile {
  // .profile__info-item

  &__info-item {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $colorBorderAfteruser;
    padding: 5px 0px;
    margin-bottom: 10px;
  }

  // .profile__info-name

  &__info-name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $colorTextDefault;
  }

  // .profile__info-value-block

  &__info-value-block {
    width: 60%;
  }

  // .profile__info-value

  &__info-value {
    border: none;
    min-width: 100%;
    text-align: right;
    color: $colorSubText;
    &:focus {
      outline: none;
    }
  }
}
