<div class="profile__info-item">
    <div class="profile__info-name">{{nameDiv}}</div>
    <div class="profile__info-value-block">
        <input class="profile__info-value" type="{{typeInput}}" name="{{nameInput}}" value="{{valueInput}}" {{#if readonly}}readonly{{/if}}></input>
    </div>
</div>
