@import "../../global-styles/constats.scss";
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 9999;
  &__hidden {
    display: none;
  }
  .modal {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    background-color: rgba(239, 239, 243, 0.941);
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      box-sizing: border-box;
    }
    &__form {
      width: 80%;
    }
    &__title {
      font-size: 22px;
      font-weight: bold;
      color: $btnColor;
      text-align: center;
    }
    &__inputs {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    &__input {
      padding: 15px;
      border-radius: 10px;
    }
    .close-modal-btn {
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }
}

// ---------user-list---------

.user-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  &__user {
    display: flex;
    margin-bottom: 15px;
    height: 40px;
    align-items: center;
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 20px;

    &:hover {
      background-color: rgba(204, 204, 204, 0.507);
    }
    &[data-selected="true"] {
      background-color: rgba(252, 49, 49, 0.404);
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
  }
  &__name {
    font-size: 14px;
  }

  &__role {
    position: absolute;
    right: 10px;
    top: 5px;
    color: $colorSubText;
    font-size: 12px;
  }
}

// ---------end user-list-------
