@import "../../global-styles/constats.scss";

.user {
  &__item {
    // .user__item_unreaded
    box-sizing: border-box;
    display: flex;
    padding: 12px 5px;
    height: 71px;
    cursor: pointer;
    border-bottom: 1px solid $colorBorderAfteruser;
    transition: border-color 0.1s;
    border-top: 1px solid transparent;

    &_active {
      background-color: $colorHoverBackground;
    }
    &:hover {
      border-color: $btnColor;
    }
    &_unreaded {
      .user__msg-unreaded {
        display: flex;
      }
    }
  }

  // .user__avatar-block

  &__avatar-block {
    width: 47px;
    height: 47px;
    padding-right: 10px;
  }

  // .user__avatar

  &__avatar {
    width: 100%;
    height: 100%;
  }

  // .user__main

  &__main {
    width: 193px;
  }

  // .user__name

  &__name {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 13px;
    color: $colorTextDefault;
  }

  // .user__msg

  &__msg {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $colorSubText;
  }

  // .user__msg-info

  &__msg-info {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // .user__time

  &__time {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: $colorSubText;
  }

  // .user__msg-unreaded

  &__msg-unreaded {
    background-color: $btnColor;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 22px;
    height: 22px;
  }

  // .user__msg-unreaded-value

  &__msg-unreaded-value {
    color: $colorWhite;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
  }
}
